*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/* 
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más 
*/
:root{
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
/* body{
    width: 100%;
    min-width: 320px;
} */
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /*este se usa cuando estas en Flex*/
}
.header-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    /* font-weight: 500px; */
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header-container .header-button{
    position: absolute;
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    top: calc(100% - 24px);
    left: calc(50% - 114.5px);
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}
.exchanges-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--off-white);
}
.container-texto{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.backgroundImg{
    background-image: url("./assets/img/Bitcoin.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.container-texto h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.container-texto p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}
.main__container-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.container-table{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.container-table table {
    width: 100%;
    height: 100%;
}
.container-table td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.table__top-left {
    border-radius: 15px 0 0 0;
}
.table__top-right {
    border-radius: 0 15px 0 0;
}
.table__bottom-left {
    border-radius: 0 0 0 15px;
}
.table__bottom-right {
    border-radius: 0 0 15px;
}
table .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
table .table__right .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
table .table__right .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.upgrade-container {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.upgrade-container p {
    color: var(--warm-black);
    font-size: 1.2rem;
    line-height: 1.5rem;
}
/*Seccion de beneficios*/
.benefits-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.batata-logo {
    position: absolute;
    top:calc(0% - 12.5px);
    left: calc(50% - 20px);
    width: 40px;
    height: 25px;
    background-image: url("./assets/icons/batata.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product-introduction {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-introduction h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-introduction p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.producto-card--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-card--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/eye.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.dolar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/dollar-sign.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.check-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/check-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Seccion de planes */
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}
